@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: "roboto", sans-serif;
}

body{
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
height: 100%;
background-attachment: fixed;
}
.btn_ins:hover , .btn_ins{
  background-color:#0093E9;
  color: #fff; 
}
.fecha_principal{
  color: #0093E9;
}